.active{
    width: 316px;
    height: 316px;
    margin:175px auto 176px;
    background-color: blue;
    scroll-snap-align: start;


}
.inactive{
    width: 316px;
    height: 316px;
    margin:175px auto 176px;
    background-color: red;
    scroll-snap-align: start;

}